@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section Header
{
    
    <div class="row">
        <div class="well well-lg">
        <div class="page-header">
          <h1>Example page header <small>Subtext for header</small></h1>
       </div>
    </div>
    </div>
}

@section Footer
{
     
  
       <div class="row">
          <div class="col-lg-12">
            <h2>Footer</h2>
           
            <hr>
          </div>
        </div>
 

}


       <div class="row">
          <div class="col-lg-12">
            <h2>Container</h2>
           
            <hr>
          </div>
        </div>
   